.card {

  &.padding--lg {
    padding: 1.5rem !important;
    border-radius: $border-radius-lg;
  }

  h2 {
    @extend %h6;
    margin-bottom: .5rem;
    overflow-x: hidden;
    text-indent: -23px;
    color: $primary;
  }

  p {
    @extend %body;
  }
}

.card.cardContainer_fWXF {
  box-shadow: none;
  border: $border;
  
  &:hover {
    box-shadow: none;
    border-color: $primary !important;
    color: inherit;
    
    h2 {
      text-decoration: underline;
    }
  }
}
