// simple code block

code {
  @extend %overline;
  padding-right: .4em;
  padding-left: .4em;
  border: $border;
  border-radius: $border-radius-sm;
  background-color: $grey-90;
  color: $text-contrast;
  
  .token {
    @extend %caption;
  }
}

// markdown highlighter

.theme-code-block {
  background-color: $grey-90 !important;
  border: $border;
  border-radius: $border-radius-md;
  
  &.codeBlockContainer_Ckt0 {
    box-shadow: none;
  }
  
  .docs__block & {
    margin: 1rem -1rem 0 -1rem;
    border-top: $border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: none;
  }
  
  pre {
    border-radius: $border-radius-md;
    
    .tabs-container & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .prism-code {
    background-color: transparent !important;
  }

  .tag {
    background-color: transparent;
    display: inline-block;
    font-weight: inherit;
    border-radius: 0;
    white-space: pre;
    height: fit-content;
    padding: 0;
  }

  .buttonGroup__atx {
    height: 2rem;
    width: fit-content;
    top: 0.625rem;
    right: 0.625rem;

    button {
      background-color: $grey-90;
      border: $border-contrast;
    }

    .copyButtonIcon_y97N, .wordWrapButtonIcon_Bwma { color: $text-contrast; }
    .copyButtonSuccessIcon_LjdS { color: $success; }
  }

  // .class-name,.tag:not(.attr-value):not(.attr-name):not(.punctuation) { color: $primary !important; }
  // .punctuation { color: $grey-20 !important; }
  // .attr-name { color: $primary-light !important; }
}
