.footer {
  @include clamp(padding-right, 1.5rem, 4vw, 4rem);
  @include clamp(padding-left, 1.5rem, 4vw, 4rem);
  @include clamp(padding-top, 2rem, 8vw, 4rem);
  @include clamp(padding-bottom, 2rem, 8vw, 4rem);
  background-color: $grey-90;

  .container {
    padding: 0 !important;
    max-width: unset;
  }

  &__title {
    @extend %caption;
    font-weight: $font-bold;
    color: $primary-light;
    border-bottom: $border-contrast;
    padding-bottom: .5rem;
  }

  &__item {
    margin-left: 0;
  }

  &__link-item {
    display: flex;
    align-items: center;
    line-height: $body-line-height;

    &:hover {
      color: $primary-light;
    }
  }
  
  &__copyright {
    @include clamp(margin-top, 2rem, 8vw, 4rem);
    @extend %caption;
    text-align: left;
    border-top: $border-contrast;
    padding-top: 1rem;
  }

  @include responsive(max-width, 996px) {

    .row { margin: 0; }

    .footer__col {
      padding: 0 !important;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
