.pagination-nav {
  margin-top: 3rem;
  @include clamp(margin-bottom, $spacing-lg, 8vw, $spacing-xl);
  padding-top: 2rem;
  border-top: $border;

  &__link {
    border-radius: $border-radius-md !important;
    border: $border;
    background-color: $background-paper;
    
    &:hover {
      border-color: $primary !important;
      color: inherit;

      .pagination-nav__label {
        text-decoration: underline;
      }
    }
    
    .pagination-nav__label {
      color: $primary;
    }

    .pagination-nav__label:before,
    .pagination-nav__label:after {
      display: none;
    }
  }
}
