.theme-doc-sidebar-container {
  background-color: $grey-90;
  border-right: 0 !important;
}

.sidebar_njMd {
  padding-top: $navbar-height !important;
}

nav.menu {
  padding: 1rem;

  li {
    margin-left: 0;
    padding-top: 0;
  }

  .menu {

    &__list {
      
      &-item {
        
        &:not(:first-child) {
          margin-top: 0;
        }
        
        &-collapsible {
          border-radius: $border-radius-sm;

          &:hover:not(.menu__list-item-collapsible--active) {
            background: none;
          }
        }

        &--collapsed .menu__caret:before {
          transform: rotateZ(90deg) scale(0.75);
        }
      }
      
      .menu__list {
        margin-top: .25rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
        padding-left: .5rem;
        border-left: $border;

        .menu__link {
          font-weight: $font-regular;
        }
      }
    }

    &__link {
      @extend %caption;
      font-weight: $font-bold;
      padding: .25rem .5rem;
      border-radius: $border-radius-sm;

      &:hover:not(.menu__link--active) {
        background: none;
        text-decoration: underline;
      }

      &--active {
        color: $primary;
      }
    }

    &__caret {
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      margin: auto .125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:before {
        content: url($icons-path + '/phosphor/caret-up.svg');
        position: absolute;
        background: none;
        filter: none;
        transform: rotate(180deg) scale(0.75);
      }
    }
  }
}
