table {
  border-radius: $border-radius-sm;
  border-collapse: separate;
  display: table;
  width: 100%;

  thead {

    tr {
      border-bottom-width: 1px !important;
    }

    th {

      &:first-of-type { border-top-left-radius: $border-radius-sm; }
      &:last-of-type { border-top-right-radius: $border-radius-sm; }
    }
  }

  tbody {

    tr:last-child {

      td:first-of-type { border-bottom-left-radius: $border-radius-sm; }
      td:last-of-type { border-bottom-right-radius: $border-radius-sm; }
    }
  }

  th, td {
    padding: .3rem .5rem .5rem .5rem;
    border-color: $border-color;

    &:last-of-type { border-left: 0 }
  }

  th {
    @extend %caption;
    font-weight: $font-bold;
  }

  td {
    border-top: 0;
  }
}

.docs-doc-id-variables\/colors {

  table tr td:not(:last-of-type) {
    width: 45%;
  }
}