.tableOfContents_bqdL {
  top: 6rem !important;
  overflow: visible;
}

.table-of-contents {
  border-left: 0;
  padding: .5rem .5rem .5rem 0;
  border: $border;
  border-radius: $border-radius-md;

  li {
    margin: 0;
    padding: 0;
  }

  ul {
    padding-left: 0;

    .table-of-contents__link {
      padding-left: 1.5rem;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: .125rem .75rem;

    &:hover {
      color: inherit;

      &:not(.table-of-contents__link--active) {
        text-decoration: underline;
      }
    }
  }

  &__link--active {
    color: $primary !important;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: $primary;
    }
  }
}
