// —————————————————————————————————————————————————————————————————
// elements
// content
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.tabs-container {

  .tabs {
    border-bottom: $border;
    overflow: visible;
  }
}

.tabs__item {
  margin-left: 0;  

  &:hover,
  &--active {
    background-color: transparent;
  }

  &:hover:not(.tabs__item--active) {
    text-decoration: underline;
    text-underline-offset: .2em;
  }
  
  &--active {
    border-color: $primary;
  }
}

.tabItem_Ymn6[hidden] {
  display: none;
}

// —————————————————————————————————————————————————————————————————
// content
// —————————————————————————————————————————————————————————————————

.tabItem_Ymn6 {

  p + .codeBlockContainer_Ckt0 {
    margin-top: 1rem;
  }
}