$fonts-path: '~/static/fonts/';
$icons-path: '~/static/icons/';

@import '~/node_modules/pallote-css/dist/pallote.scss';

* {
  box-sizing: border-box !important;
}

:root {
  // typography
  --ifm-font-family-base: $font;
  --ifm-font-weight-light: 400;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 700;
  --ifm-font-weight-bold: 700;
  --ifm-font-weight-base: var(--ifm-font-weight-normal);
  --ifm-font-size-base: 1rem;
  --ifm-line-height-base: 1.5;
  --ifm-menu-color: #000A1E;
  --ifm-toc-link-color: #000A1E;
}

html {
  background-color: $background-default;
}

a {
  text-underline-offset: .2em;
}

a {
  border-radius: $border-radius-sm;

  &:hover {
    color: inherit;
  }
}

.markdown {

  a:not(.button) {
    text-decoration: underline;
    
    &:hover {
      text-decoration-thickness: 3px;
    }
  }
}

.hash-link {
  padding-right: .25rem !important;
  padding-left: .25rem !important;
  margin-left: .25rem;
  border-radius: $border-radius-sm;
  color: $text-alt;
  font-weight: 100;
  font-size: 1rem;
}

@import './common/layout.scss';

@import './components/alert.scss';
@import './components/breadcrumbs.scss';
@import './components/button.scss';
@import './components/card.scss';
@import './components/code-block.scss';
@import './components/footer.scss';
@import './components/navbar.scss';
@import './components/pagination.scss';
@import './components/section.scss';
@import './components/sidebar.scss';
@import './components/table.scss';
@import './components/table-of-contents.scss';
@import './components/tabs.scss';
@import './components/text.scss';
