// —————————————————————————————————————————————————————————————————
// container
// docs
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// container
// —————————————————————————————————————————————————————————————————

.main-wrapper {
  min-height: 100vh;
}

// container

.container {
  padding-top: $navbar-height !important;
  padding-right: 2rem;
  padding-bottom: 0 !important;
  padding-left: 2rem;

  > .row {
    margin: 0 -2rem;

    > .col:not(.col--3) {
      padding: 0 2rem;
    }

    > .col--3 {
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }
}

// markdown container

.theme-doc-markdown {
  
  h2 {
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: $border;
  }

  h2 + p {
    margin-top: -1rem;
  }
  
  h3 + p {
    margin-top: -.5rem;
  }
}

// grid links on main page

.generatedIndexPage_vN6x {

  .list_eTzJ {
    margin: 0 -.5rem;

    .col {
      padding: 0 .5rem;
      margin-bottom: 1rem !important;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// docs
// —————————————————————————————————————————————————————————————————

.docs {

  &__block {
    margin-top: 2rem;
    padding: 1.5rem;
    border: $border;
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    
    &--portrait {
      flex-direction: column;
    }
  }
  
  &_row {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
}

p + .tabs-container {
  margin-top: 2rem;
}